@font-face {
  font-family: 'AvertaRegular';
  src: url('../fonts/averta-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoDisplayBold';
  src: url('../fonts/neodisplay-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-regular: 'AvertaRegular', sans-serif;
  --font-bold: 'NeoDisplayBold', sans-serif;

  --clr-black: #333333;
  --clr-yellow: #f0be14;
  --clr-grey: #cccccc;
  --clr-grey-light: #f9f9f9;
  --clr-blue: #64b4fa;
  --clr-blue-light: #c1e1fd;
}

body {
  font-family: var(--font-regular), sans-serif;
}

.bold-text {
  font-family: var(--font-bold), sans-serif;
  font-weight: bold;
}

.title-paragraph {
  font-family: var(--font-bold), sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.clr-black {
  color: var(--clr-black);
}

.clr-yellow {
  color: var(--clr-yellow);
}

.clr-grey {
  color: var(--clr-grey);
}

.clr-grey-light {
  color: var(--clr-grey-light);
}

.clr-blue {
  color: var(--clr-blue);
}

.clr-blue-light {
  color: var(--clr-blue-light);
}

.bg-yellow {
  background-color: var(--clr-yellow);
}

.w-md-100 {
  width: 50% !important;
  position: fixed !important;
  height: 100% !important;
}

.navbar-custom {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-custom.scrolled {
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .w-md-100 {
    width: 100% !important;
    position: fixed !important;
    height: 100% !important;
  }
}